<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>We are mostly based on Discord.</p>
      </div>
      <div class="col-lg-4">
        <p>To get plugin help or get in contact with us, visit us on Discord.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://discord.gg/elplugins" class="btn btn-lg btn-outline">
          <i class="fa fa-link"></i> Discord
        </a>
      </div>
    </div>
  </div>
</section>
